body {
  background: url("/image/bg.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
}
.main-inner {
  background: #fff;
  opacity: 1;
}
.header-inner {
  opacity: 1;
}
